/**
 * The official style sheet for the Capon 2016 WordPress theme
 * Any modifications or changes to the theme should be made within
 * 		this file. The style.css file is the base Genesis stylesheet, 
 * 		and should not be modified in most cases
 */
 
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Questrial';

body {
	font-family: 'Open Sans', sans-serif;
	/*font-family: Questrial, sans-serif;*/
}

.site-container {
	padding: 2rem 0 0;
	padding: 20px 0 0;
}

.site-header {
	min-height: 1px;
	border: none;
}

.site-footer {
	margin-top: 2rem;
	margin-top: 20px;
	border: none;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 1.1rem;
	font-size: 11px;
	font-weight: 400;
}

.site-header > .wrap, 
.site-inner > .wrap, 
.site-footer > .wrap {
	max-width: 940px;
	background: #fff;
	border: 1px solid #09352a;
	margin: 0 auto;
	padding: 0;
}

.site-footer > .wrap {
	background: none;
	border: none;
}

.site-inner > .wrap, 
.site-footer > .wrap {
	padding: 30px;
}

.site-footer, 
.site-header > .wrap {
	background-color: #09352a;
}

.site-footer .footer-area-1 {
	padding-left: 20px;
	padding-right: 20px;
}

.site-footer .footer-area-2 {
	padding-left: 30px;
	padding-right: 0px;
}

.site-footer .widget_sp_image .widget-title {
	display: none;
}

.site-footer .widget_sp_image {
	text-align: center;
}

.site-footer .menu {
	display: block;
	list-style: none;
	width: 100%;
	margin-bottom: 1.6rem;
	margin-bottom: 16px;
}

.site-footer .menu .sub-menu {
	display: none;
}

.site-footer p {
	margin-bottom: 1.6rem;
	margin-bottom: 16px;
}

.site-footer .menu-item {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.site-footer .menu-item > a {
	display: inline-block;
	padding: 0 6px;
	margin: 0;
}

.site-footer .menu-item:first-child > a {
	padding-left: 0;
}

.site-footer a {
	color: #ffffff;
	text-decoration: underline;
}

.site-footer a:hover, 
.site-footer a:focus {
	text-decoration: none;
	color: #ffffff;
}

.site-footer .inline-list {
	display: inline;
	margin: 0;
}

.site-footer .inline-list li {
	display: inline-block;
	list-style: none;
	margin: 0 0 8px;
}

.site-footer .inline-list li:before {
	content: '\2022';
	margin: 0 16px;
	display: inline-block;
}

.site-footer .inline-list li:first-child:before {
	margin: 0;
	content: '';
}

.site-footer .separator {
	display: inline-block;
	margin: 0 16px;
}

.site-inner {
	padding: 0;
	margin: 0 auto;
}

.nav-primary {
	border: none;
	border-bottom: 1px solid #09352a;
}

.wrap .wrap {
	padding: 0;
	margin: 0;
}

.genesis-nav-menu {
	text-align: center;
}

.genesis-nav-menu a, 
.genesis-nav-menu .sub-menu a {
	padding: 8px 12px;
	font-size: 1.6rem;
	font-size: 16px;
	font-family: Questrial, sans-serif;
	font-weight: 400;
	color: #ffffff;
}

.genesis-nav-menu .sub-menu a {
	font-size: 1.4rem;
	font-size: 14px;
	background-color: #09352a;
	border: none;
}

.genesis-nav-menu .sub-menu {
	border-top: none;
}

.genesis-nav-menu .current-menu-item a, 
.genesis-nav-menu .current-menu-ancestor > a, 
.genesis-nav-menu a:hover, 
.genesis-nav-menu a:focus, 
.genesis-nav-menu .sub-menu a:hover, 
.genesis-nav-menu .sub-menu a:focus {
	background-color: #8a7770;
	color: #fff;
	text-decoration: none;
}

.home-top, 
.home-above-footer {
	float: none;
	clear: both;
	font-size: 3rem;
	font-size: 30px;
	font-family: Questrial, sans-serif;
	color: #09352a;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	margin-bottom: 3rem;
	margin-bottom: 30px;
}

.header-main .widget_sp_image img {
	display: block;
}

.home-features {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: stretch;
	align-content: flex-start;
	align-items: flex-start;
	
	margin-bottom: 3rem;
	margin-bottom: 30px;
}

.home-features .widget {
	width: 33.3333%;
	flex: 1 0 250px;
	padding: 10px;
	min-width: 250px;
	vertical-align: top;
}

.sidebar-primary .widget {
	padding: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	font-size: 1.4rem;
}

.sidebar-primary .widget p {
	margin: 0 0 12px;
}

.sidebar-primary .widget .aligncenter {
	margin-bottom: 0;
}

.related {
    border: 1px solid #09352a;
	margin-bottom: 15px;
    margin-bottom: 1.5rem;
	padding: 15px;
    padding: 1.5rem;
    background: #caddd8;
	font-size: 14px;
	font-size: 1.4rem;
}

.related a {
	color: #000;
	text-decoration: underline;
}

.related a:hover, 
.related a:focus {
	text-decoration: none;
}

.related h4.widget-title {
	width: 100%;
	color: #fff;
	background: #09352a;
	padding: 15px 16px;
    margin: 0 -16px 0px;
	position: relative;
	top: -20px;
	font-weight: normal;
	box-sizing: content-box;
}

.related li {
	margin-bottom: 0;
}

.related .children {
    background: #caddd8;
	padding: 15px;
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	z-index: 99;
}

.related li:hover, 
.related li:focus {
	position: static;
}

.related li:hover > .children, 
.related li:focus > .children {
	position: static;
	left: auto;
	opacity: 1;
}

.related .current_page_item > a {
	font-weight: bolder;
}

.related .current_page_item .children {
	display: block;
}

body #genesis-responsive-slider, 
figure.header-feature {
	padding: 0;
	margin: 0;
	border: none;
}

body .flex-direction-nav li a {
	width: 30px;
	height: 30px;
	background: url(images/slider-arrows.png) no-repeat;
	background-position: left center;
	border: none;
}

body .flex-direction-nav li .flex-prev {
	left: 10px;
}

body .flex-direction-nav li .flex-prev:hover {
	background-position: left center;
}

body .flex-direction-nav li .flex-next {
	background-position: right center;
	right: 10px;
}

body .flex-direction-nav li .flex-next:hover {
	background-position: right center;
}

figure.header-feature {
	position: relative;
	width: 100%;
	height: auto;
}

body #genesis-responsive-slider:after, 
figure.header-feature:after {
	content: " ";
	background: url(images/capon-watermark.png?v=1.0.2) no-repeat center center;
	background-size: contain;
	position: absolute;
	top: 18px;
	left: 18px;
	right: 18px;
	bottom: 18px;
	text-align: center;
	opacity: 0.8;
}

.home-features .widget-title, 
.sidebar-primary .widget-title {
	background-color: #8a7770;
	font-family: Questrial, sans-serif;
	color: #ffffff;
	font-size: 1.8rem;
	font-size: 18px;
	font-weight: 400;
	width: 100%;
	max-width: 100%;
	padding: 8px;
	text-align: left;
}

.home-features .button, 
.button, 
.sidebar-primary .button {
	display: block;
	background-color: #09352a;
	font-size: 1.8rem;
	font-size: 18px;
	font-weight: 300;
	padding: 4px 8px;
	margin: 0 0 18px;
	width: 100%;
	max-width: 100%;
	text-align: left;
	box-sizing: border-box;
	text-decoration: none;
	border-top: 2px solid #637f78;
	border-left: 2px solid #637f78;
	border-bottom: 2px solid #06201a;
	border-right: 2px solid #06201a;
	border-radius: 2px;
}

.home-features .social-networks, 
.sidebar-primary .social-networks {
	margin-top: 18px;
}

.home-features .social-networks img, 
.sidebar-primary .social-networks img {
	margin-right: 8px;
}

.home-features .button:hover, 
.home-features .button:focus, 
.sidebar-primary .button:hover, 
.sidebar-primary .button:focus, 
.button:hover, 
.button:focus {
	background-color: #000;
}

.home-features .featured-content .entry, 
.sidebar-primary .featured-content .entry {
	margin-bottom: 0;
}

.home-features .widget-wrap > * {
	padding-left: 8px;
	padding-right: 8px;
}

.home-features .featured-content .entry-title, 
.home-features .featured-content a, 
.sidebar-primary .featured-content .entry-title, 
.sidebar-primary .featured-content a {
	font-family: Questrial, sans-serif;
	font-weight: 400;
	color: #09352a;
	font-size: 1.6rem;
	font-size: 16px;
	text-decoration: underline;
}

.home-features .featured-content .entry-title, 
.sidebar-primary .featured-content .entry-title {
	margin: 4px 0;
	text-decoration: none;
	line-height: 1.2;
}

.home-features .featured-content a:hover, 
.home-features .featured-content a:focus, 
.sidebar-primary .featured-content a:hover, 
.sidebar-primary .featured-content a:focus {
	text-decoration: none;
}

.home-features .featured-content .entry-content, 
.sidebar-primary .featured-content .entry-content, 
.home-features .widget_sp_image-description {
	color: #000000;
	font-size: 1.4rem;
	font-size: 14px;
	line-height: 1.15;
}

.home-features .featured-content .entry-content p, 
.sidebar-primary .featured-content .entry-content p {
	margin: 0;
}

.home-features .widget_sp_image img, 
.home-features .widget_sp_image a, 
.sidebar-primary .widget_sp_image img, 
.sidebar-primary .widget_sp_image a {
	display: block;
	margin: 0;
}

.home-features .widget_sp_image img, 
.sidebar-primary .widget_sp_image img {
	padding: 0;
}

.entry-content {
	font-size: 14px;
	font-size: 1.4rem;
}

.entry-content table.tablepress {
	font-size: 14px;
	font-size: 1.4rem;
}

/*@media all and (max-width: 800px) {
	.entry-content table.tablepress td:before {
		content: attr(data-label);
		font-weight: bolder;
		display: inline-block;
		white-space: pre;
		width: 40%;
		margin-right: 5%;
	}
	
	.entry-content table.tablepress, 
	.entry-content table.tablepress tbody, 
	.entry-content table.tablepress th, 
	.entry-content table.tablepress tr, 
	.entry-content table.tablepress td {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	
	.entry-content table.tablepress thead, 
	.entry-content table.tablepress tfoot {
		display: none;
	}
}

@media all and (max-width: 400px) {
	.entry-content table.tablepress td:before {
		display: block;
		width: 100%;
		margin: 0;
	}
}*/

/**
 * Hack styles for IE 7 and 8
 */
.genesis-nav-menu .menu-item {
	display: inline-block\9;
	*display: inline;
	zoom: 1;
}

.home-features {
	display: block/9;
}

.home-features .widget {
	display: inline-block\9;
	*display: inline;
	zoom: 1;
	width: 31%\9;
	*width: 28%;
	margin-right: 1%\9;
	margin-left: 1%\9;
}

.site-inner > .wrap {
	*width: 880px;
}

.footer-area-1, 
.footer-area-2, 
.site-footer .menu-item {
	display: inline-block\9;
	*display: inline;
	zoom: 1;
}

.footer-area-1 {
	width: 195px\9;
}

.footer-area-2 {
	width: 660px\9;
	*width: 675px;
}

.show-on-mobile {
	display: none;
}

@media only screen and (max-width: 1280px) {
	.sidebar-primary {
		width: 220px;
	}
}

/**
 * Adjust container width on mid-sized screens
 */
@media only screen and (max-width: 1020px) {
	.site-header > .wrap, 
	.site-inner > .wrap, 
	.site-footer > .wrap {
		max-width: 800px;
	}
	
	.sidebar-primary {
		width: 100%;
		min-width: 100%;
	}
}

/**
 * Adjustments for smaller screens
 */
@media all and (max-width: 800px) {
	body.custom-background {
		background-image: none !important;
		background: #e2e2e2;
	}
	
	.site-footer {
		text-align: center;
	}
	
	.site-footer .footer-area-2 {
		padding-right: 30px;
	}
	
	.site-footer .menu-item > a {
		padding: 0 8px 8px;
	}
	
	.site-footer .separator {
		display: block;
		width: 0;
		height: 5px;
		font-size: 0;
		line-height: 0;
		overflow: hidden;
	}
	
	.site-footer .widget_nav_menu, 
	.hide-from-mobile {
		display: none;
	}
	
	.show-on-mobile {
		display: initial;
	}
}

@media print {
	* {
		box-sizing: content-box;
	}
	
	@page {
		margin: .5in;
	}
	
	body {
		padding: 0;
		margin: 0;
		background: #fff !important;
		position: relative;
	}
	
	.site-header, 
	.site-footer, 
	.sidebar-primary, 
	.sharedaddy {
		display: none;
	}
	
	.content {
		width: auto;
		max-width: 100%;
		padding: 0;
		padding-top: 275px;
		margin-top: 8%;
		float: none;
		clear: both;
	}
	
	.site-inner > .wrap {
		border: none;
	}
	
	.site-container {
		position: relative;
	}
	
	.site-container:before {
		content: url(images/capon-watermark.png?v=1.0.2);
		width: 100%;
		height: 258px;
		margin: 0 auto;
		padding: 0;
		text-align: center;
		opacity: 1.0;
		filter: invert(1);
		-webkit-filter: invert(1);
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
	
	p {
		page-break-inside: avoid;
	}
}